@page "/PlayQuiz"



@if(QuestionNumber > ListOfQuestions.Count())
{
    <h2>Quiz @QuizService.Quiz.Name</h2> 
    <p>U heeft @CorrectAnswerCount vraag/vragen goed beantwoord van de @ListOfQuestions.Count() vragen.</p>
    <button @onclick="Home" class="btn btn-primary">Terug naar home</button>
}
else
{
    @if (QuizService.Quiz != null)
    {
    
    @if (AnswerMode)
    {
        if (CorrectAnswer)
        {
            
            <div style="background-color:#01af07">
        
            <h2>Quiz @QuizService.Quiz.Name</h2> 

            <p>Vraag @QuestionNumber van de @ListOfQuestions.Count()</p>

            <h3>@CurrentQuestion.Title</h3>
            <p>@CurrentQuestion.Description</p>

            @foreach (Gamification.Models.Answer answer in CurrentAnswers)
                {
                    if(answer == ChosenAnswer)
                    {
                        <a class="btn btn-outline-info" style="pointer-events:none; margin:4px"> @answer.AnswerType</a>
                        <a> &nbsp; @answer.AnswerValue</a>
                        <img src="images/check.png" alt="check" style="height:40px">
                        <br/>
                    }
                    else
                    {
                        <a class="btn btn-outline-info" style="pointer-events:none; margin:4px"> @answer.AnswerType</a>
                        <a> &nbsp; @answer.AnswerValue</a>
                        <br/>
                    }
                }

            <br/>
            <button @onclick="LoadQuestion" class="btn btn-primary">Volgende vraag</button>
            </div>
            
        }
        else
        {
            <div style="background-color:#bd0202">
        
            <h2>Quiz @QuizService.Quiz.Name</h2> 

            <p>Vraag @QuestionNumber van de @ListOfQuestions.Count()</p>

            <h3>@CurrentQuestion.Title</h3>
            <p>@CurrentQuestion.Description</p>

            @foreach (Gamification.Models.Answer answer in CurrentAnswers)
                {
                    if(answer == ChosenAnswer)
                    {
                        <a class="btn btn-outline-info" style="pointer-events:none; margin:4px"> @answer.AnswerType</a>
                        <a> &nbsp; @answer.AnswerValue </a>
                        <img src="images/cross.png" alt="cross" style="height:40px"/>
                        <br/>
                    }
                    else
                    {
                        if (answer.CorrectAnswer)
                        {
                            <a class="btn btn-outline-info" style="pointer-events:none; margin:4px"> @answer.AnswerType</a>
                            <a> &nbsp; @answer.AnswerValue </a>
                            <img src="images/check.png" alt="check" style="height:40px"/>
                            <br/>
                        }
                        else
                        {
                            <a class="btn btn-outline-info" style="pointer-events:none; margin:4px"> @answer.AnswerType</a>
                            <a> &nbsp; @answer.AnswerValue </a>
                            <br/>
                        }
                    }
                    
                }

            <br/>

            <button @onclick="LoadQuestion" class="btn btn-primary">Volgende vraag</button>
            </div>
        }
    }
    else
    {
        <div>
        
        <h2>Quiz @QuizService.Quiz.Name</h2> 

        <p>Vraag @QuestionNumber van de @ListOfQuestions.Count()</p>

        <h3>@CurrentQuestion.Title</h3>
        <p>@CurrentQuestion.Description</p>

        @foreach (Gamification.Models.Answer answer in CurrentAnswers)
            {
                <Button style="margin:4px" class="btn btn-outline-info" @onclick="@( _ => ClickAnswer(answer) )" > @answer.AnswerType</Button>
                <a> &nbsp; @answer.AnswerValue </a>
                <br/>
            }

        </div>
    }
    
    } 
}

@code {

}
