@page "/PlayQuiz"


@if (QuizService.Quiz != null)
{
    <div>
        
        <h3>Quiz naam: @QuizService.Quiz.Name </h3> 
            
        <br/>

        
        @foreach (Gamification.Models.Question question in ListOfQuestions)
        {
            CurrentQuestion = question;

            <a>@question.Title </a>
            <br /> 
            <a>@question.Description </a>
            
            @foreach (Gamification.Models.Answer answer in CurrentAnswers)
            {
                <br /> 
                <Button class="btn btn-outline-info" @onclick="@( _ => ChosenAnswer(answer) )" > @answer.AnswerType</Button>
                <a> &nbsp; @answer.AnswerValue </a>

            }


            <br /> 
            <br /> 

        }






    </div>

} 




@code {

}
