@page "/Quizzen"
<h3>Quizzen</h3>



<label for="Subjects">Kies een faculteit:</label>

<select name="Faculty" id="Faculty.Id" @onchange="@OnSelectFaculty">
    <option value="" disabled selected hidden>Kies faculteit...</option>
    @foreach (Gamification.Models.Faculty faculty in ListOfFaculties)
    {
        <option value="@faculty.Id">@faculty.Name</option>
    }
</select>

<br />

<label for="Subjects">Kies een vak:</label>

<select name="Subjects" id="Subject.Id" @onchange="@OnSelectSubject">
    <option value="" disabled selected hidden>Kies vak...</option>
    @if (ListOfSubjects != null)
    {
        foreach (Gamification.Models.Subject subject in ListOfSubjects)
        {
            <option value="@subject.Id">@subject.Name</option>
        }
    }
</select>

<br />
<br />

@if (ListOfQuizzes != null)
{
    foreach (Gamification.Models.Quiz quiz in ListOfQuizzes)
    {
        <a href="PlayQuiz" @onclick="@( _ => PlayQuiz.OnClickQuiz(quiz.Id) )">@quiz.Id  @quiz.Name  @quiz.Description</a>
        
        <br />
    }
}
